@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$grey: #b9b9b923;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$info: $grey;
$box-color: hsl(0, 0%, 90%);
$box-background-color: hsla(0, 0%, 49%, 0.801);
$size-1:75px;
$size-2:50px;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";


//set image opacities to 0
.is-transparent {
  opacity: 0;
}

.hero-background {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  background-color: black;
  }

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space /
  background: transparent; / optional: just make scrollbar invisible */
}

p {
  font-size: 20px;
}

.hero {
  .hero.has-background {
    position: relative;
    overflow: hidden;
  }
  .hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    }
}

.navbar-item {
  border-radius: 9px;
  margin-left:5px;
  margin-right:5px;
  transition: background-color 0.5s;
}



.navbar-menu {
  margin-right: 5%;
  margin-top: 2%;

}